<%if ( loading ) {%>
<div class="loadmask"><img src="img/loader.gif"/></div>
<% } %>
<a class="doc <%if(updateAvailable && downloaded){%>updateAvailable<%}%>" href="javascript:;">
    <%if (thumbnail != "") {%>
    	<img src="img/<%=thumbnail%>" />
    <% } else { %>
    	<span class="docTitle"><%=docname%></span>
    <% } %>
    <!-- <span class="chevron"></span> -->
	<div class="doc-icon">
		<% if ( !downloaded ) { %>
			<img src="img/download.png"/>
		<% } else { %>
			<img src="img/open.png"/>
		<% } %>
	</div>

</a>
<% if ( !downloaded ) { %>
	<a class="button-main download" data-docid="<%= id %>">Download</a>
<% } else { %>
	<a class="button-negative deleteLocal" data-docid="<%= id %>">Remove</a>
<% } %>
